.chat-screen__texts {
  padding: 100px 0 0 0;
  list-style-type: none;
  /* 기호 사라짐 */
}

.chat-screen__texts > .text {
  background-color: aliceblue;
  width: 280px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
  line-height: -10px;
  text-align: center;
  position: relative;
  left: 20px;
}
.chat-screen__texts > .text::after {
  content: "";
  border-right: 16px solid aliceblue;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 10px;
  left: -10px;
}

.chat-screen__texts > .text:hover {
  background-color: cornflowerblue;
  transition: background-color 1500ms 200ms ease-in;
}
.chat-screen__texts > .text:hover::after {
  border-right-color: cornflowerblue;
  transition: border-right-color 1500ms 200ms ease-in;
}
