@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #302b25;
}
/* Webkit (Chrome, Safari) */
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #565656;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
}

@layer utilities {
    .transition-maximize {
        @apply transition-width-height;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }
}
