body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #444;
}

.number-set {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.number {
    margin: 8px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #555;
}

.match {
    background-color: #ffdd57;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:disabled {
    filter: brightness(70%);
}
button:disabled:hover {
    background-color: #007bff;
}

button:hover {
    background-color: #0056b3;
}

.winningNumber {
    display: inline-block;
    margin: 15px 20px;
    background-color: #aaaaaa;
    border-bottom: 3px solid black;
    padding: 10px;
    border-radius: 2rem;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.winningNumber:nth-child(1) {
    background-color: #fbc400;
}
.winningNumber:nth-child(2) {
    background-color: #68c8f2;
}
.winningNumber:nth-child(3) {
    background-color: #ff7272;
}

#lottoNumbers {
    width: 574px;
    flex-wrap: wrap;
    display: flex;
}

.randomNumber {
    display: inline-block;
    margin: 15px 20px;
    background-color: #aaaaaa;
    padding: 10px;
    border-radius: 2rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    border-bottom: 3px solid black;
}
.randomNumber:nth-child(1),
.randomNumber:nth-child(7),
.randomNumber:nth-child(13),
.randomNumber:nth-child(19),
.randomNumber:nth-child(25) {
    background-color: #fbc400;
}
.randomNumber:nth-child(2),
.randomNumber:nth-child(8),
.randomNumber:nth-child(14),
.randomNumber:nth-child(20),
.randomNumber:nth-child(26) {
    background-color: #68c8f2;
}
.randomNumber:nth-child(3),
.randomNumber:nth-child(9),
.randomNumber:nth-child(15),
.randomNumber:nth-child(21),
.randomNumber:nth-child(27) {
    background-color: #ff7272;
}
