* {
  box-sizing: border-box;
}

/* grid container */
ul {
  padding: 0;
  list-style-type: none;
  border: 5px solid teal;
}
/* style */
li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border: 5px solid tomato;
  border-radius: 8px;
}

/* grid */
/* fr: 사용할 수 있는 공간에서 분수처럼 나누겠다 */
.container {
  display: grid;
  height: 500px;
  /* grid-template-columns: 100px 1fr 2fr; */

  /* 원래 5개 이므로 생각 */
  grid-template-columns: 100px 1fr;
  grid-template-rows: 200px 1fr 1fr;

  /* 단축 속성 */
  gap: 20px 10px;
}
