.bg {
  background: linear-gradient(20deg, #282c34, #383f4b);
}
.br0 {
  border-radius: 3px;
}
.br1 {
  border-radius: 10px;
}
.br2 {
  border-radius: 20px;
}
.flex {
  display: flex;
}
.beige {
  color: beige;
}
.black {
  color: black;
}
.gray {
  color: gray;
}
.title {
  font-size: 3rem;
}
.subtitle {
  font-size: 2rem;
}
.space {
  padding-right: 1rem;
}
.btn {
  appearance: none;
  border: none;
  border-radius: 1rem;
  width: 50%;
  cursor: pointer;
}
.divideLine {
  border-top: 1px solid gray;
  margin-bottom: 1rem;
  width: 100%;
}
