<html lang='ko'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Document</title>
    </head>
    <body>
        <h1>이 데이터는 layout.hbs에서 오고있습니다. 기본값 입니다.</h1>
        {{{body}}}
    </body>
</html>