.wrapper {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}
.wrapper__body {
  display: grid;
  width: 60%;
  height: 80%;
  gap: 10px;
  grid-template-areas:
    "left main main main"
    "left main main main"
    "footer footer footer footer";
}
.wrapper__main__body {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: main;
}
@media screen and (max-width: 1200px) {
  .wrapper__main__body {
    display: none;
  }
  .wrapper__body {
    gap: 5px;
    grid-template-areas:
      "left"
      "left"
      "footer";
  }
  .wrapper__footer__body {
    min-width: 200px;
  }
}
